@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'FuturaCyrillic';
    src: url('/assets/fonts/FuturaCyrillicLight.ttf') format('truetype');
    font-weight: 300; /* Light */
    font-style: normal;
}

@font-face {
    font-family: 'FuturaCyrillic';
    src: url('/assets/fonts/FuturaCyrillicBook.ttf') format('truetype');
    font-weight: 400; /* Regular */
    font-style: normal;
}

@font-face {
    font-family: 'FuturaCyrillic';
    src: url('/assets/fonts/FuturaCyrillicBold.ttf') format('truetype');
    font-weight: 700; /* Bold */
    font-style: normal;
}

@font-face {
    font-family: 'FuturaCyrillic';
    src: url('/assets/fonts/FuturaCyrillicExtraBold.ttf') format('truetype');
    font-weight: 900; /* ExtraBold */
    font-style: normal;
}

body {
    @apply text-primary-dark;
    font-family: 'FuturaCyrillic', sans-serif;
}

.no-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}